@import "tailwindcss";

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}
body {
  background-color: #1a1a1a;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}


/*Hide number input arrows(chrome, edge, safari, opera)*/
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
  @apply appearance-none m-0
}

/*hide arrows in firefox*/
input[type="number"] {
  -moz-appearance: textfield;
}